@page "/ArticulosPages/Create"
@using Ap1_P1_AdielGaarciaa.Services
@inject NavigationManager NavigationManager
@inject ArticulosServices articulosServices

@code {

    public class Articulo
    {
        public int ArticuloId { get; set; }
        public string Descripcion { get; set; }
        public decimal Costo { get; set; }
        public decimal Ganancia { get; set; }
        public decimal Precio { get; set; }
    }

    public Articulo ArticuloModel { get; set; } = new Articulo(); 

    [Parameter]
    public int ArticuloId { get; set; }

    protected override void OnInitialized()
    {
        if (ArticuloId != 0)
        {
            ArticuloModel.ArticuloId = ArticuloId;
        }
    }

    public async Task Guardar()
    {
        var guardar = await articulosServices.Guardar(ArticulosModel); 
        if (guardar)
        {
            await Nuevo(); 
        }
    }

    public async Task Nuevo()
    {
        ArticuloModel = new Articulo(); 
    }
}

<h3>Registro de artículos</h3>

<EditForm Model="ArticuloModel" OnValidSubmit="Guardar">
    // Cambiado de Articulos a ArticuloModel
    <DataAnnotationsValidator />
    <div class="card shadow-lg border-0 rounded" style="background-color: #f8f9fa;">
        <div class="card-header bg-primary text-white" style="text-align: center;">
            <h3> <i class="fas fa-clipboard-list"></i> Registro de Artículos</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="ArticuloId" class="form-label">ArticuloId:</label>
                    <div class="input-group">
                        <div style="width: 40%; height: 1em;">
                            <InputNumber @bind-Value="ArticuloModel.ArticuloId" class="form-control" style="font-size: 0.8em;" aria-describedby="BotonBuscar" />
                            <ValidationMessage For="@(() => ArticuloModel.ArticuloId)" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <label for="Descripcion" class="form-label">Descripción:</label>
                <InputText @bind-Value="ArticuloModel.Descripcion" class="form-control" />
                <ValidationMessage For="@(() => ArticuloModel.Descripcion)" />
            </div>

            <div class="mb-3">
                <label for="Costo" class="form-label">Costo:</label>
                <InputNumber @bind-Value="ArticuloModel.Costo" class="form-control" />
                <ValidationMessage For="@(() => ArticuloModel.Costo)" />
            </div>

            <div class="mb-3">
                <label for="Ganancia" class="form-label">Ganancia:</label>
                <InputNumber @bind-Value="ArticuloModel.Ganancia" class="form-control" />
                <ValidationMessage For="@(() => ArticuloModel.Ganancia)" />
            </div>

            <div class="mb-3">
                <label for="Precio" class="form-label">Precio:</label>
                <InputNumber @bind-Value="ArticuloModel.Precio" class="form-control" />
                <ValidationMessage For="@(() => ArticuloModel.Precio)" />
            </div>
        </div>
    </div>
    <div class="card-footer bg-light d-flex justify-content-center mt-3">
        <div class="btn-group">
            <button type="button" class="btn btn-outline-primary ml-2" @onclick="Nuevo"><span class="bi bi-plus"></span> Nuevo </button>
            <button type="submit" class="btn btn-outline-success ml-2"><span class="bi bi-check-circle-fill"></span> Guardar </button>
            <a type="button" href="/Articulos/Index/" class="btn btn-outline-danger"><span class="bi bi-arrow-bar-left"></span> Retroceder </a>
        </div>
    </div>
</EditForm>
